
.card_ img{
height: 18rem;
}
.ca:hover{
 filter: drop-shadow(20px 20px 30px rgb(213, 249, 213));
 scale: 1.1;
}
.user{
    border-radius: 20px;
background-color: rgb(144, 205, 144);
background: transparent;
}


::-webkit-scrollbar{
    width: 10px;
    }
    ::-webkit-scrollbar-track{
      background-color: white;
    }
    ::-webkit-scrollbar-thumb{
     background-color:  rgb(96, 179, 61);
     border-radius: 6px;
    }

 .profile{
   box-shadow: inset;
   box-shadow: 90px 50px 200px 30px rgb(17, 20, 17);

   border-bottom-right-radius: 190px;
   border-bottom-left-radius: 190px;
  }   

.exp{
  background-color: white;
  display: block;
position: relative;
}
 .last{
  display: block;
  position: relative;

}  

.receuser{
color: white;
}
.receuser::before{
  content: "";
background:url('/geminiimage/finalg12.webp') no-repeat top/cover;
background:url('/geminiimage/g7.jpg') no-repeat bottom/cover;

position:absolute;
height: 100%;
top: 0px;
left: 0px;
width: 100%;
z-index: -1;
opacity: 0.75;
}