
.imgg img{
    filter:drop-shadow(3rem 4rem 4rem #d2e7d0 ); 
}
.imgg img{
height: 24.5rem;
}


.formm input{
    background-color: rgb(150, 197, 123);
}

.log{
background: url("/geminiimage/loginback.png") no-repeat center/cover;
height: inherit;

}